<div class="well col-lg-12">
  <div class="col-lg-6">
    <h2>
      Anleitung
    </h2>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">So funktionierts...</h3>
      </div>
      <div class="panel-body">
        <p>
          1. Suchen Sie alle nötigen Dokumente zusammen:
          <ul>
            <li>
              Personalausweis (Vorder- und Rückseite)
            </li>
            <li>
              EG-Übereinstimmungsbescheinigung (COC-Bescheinigung)
            </li>
            <li>
              Fahrzeugschein/Zulassungsbescheinigung Teil I (bei Gebrauchtwagen)
            </li>
            <li>
              Fahrzeugbrief/Zulassungsbescheinigung Teil II
            </li>
            <li>
              HU-Bericht
            </li>
            <li>
              Fahrzeug-Identifizierungsnummer (<strong>FIN</strong>)
            </li>
            <li>
              Elektronische Versicherungsbestätigung (<strong>eVB</strong>)
            </li>
          </ul>
        </p>
        <p>
          2. Scannen Sie die Dokumente als PDF ein und laden Sie diese an den entsprechenden Stellen im Antrag hoch
        </p>
        <p>
          3. Füllen Sie die Felder aus
        </p>
        <p>
          4. Versichern Sie sich, dass alle Felder korrekt ausgefüllt sind
        </p>
        <p>
          5. Schicken Sie den Antrag ab
        </p>
        <p>
          6. Sie werden bald über den weiteren Verlauf Ihres Antrags informiert
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h2>
      Antrag auf Umeldung des Fahrzeugs
    </h2>
    <h3>mit Kennzeichen: <%= @result[:license_tag] %></h3>

  <%= form_tag car_change_registration_path, multipart: true, class: "form-horizontal" do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag 'firstname', "Vorname", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= text_field_tag 'firstname', @result[:owner_firstname], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'lastname', "Nachname", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= text_field_tag 'lastname', @result[:owner_lastname], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'birthdate', "Geburtsdatum", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= text_field_tag 'birthdate',  @result[:birthdate], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'street', "Straße", class: 'col-lg-3 control-label' %>
        <div class="col-lg-6">
          <%= text_field_tag 'street',  @result[:street], class: 'form-control', required: true %>
        </div>
        <%= label_tag 'street_number', "Nr", class: 'col-lg-1 control-label' %>
        <div class="col-lg-2">
          <%= text_field_tag 'street_number', @result[:street_number], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'zipcode', "PLZ", class: 'col-lg-3 control-label' %>
        <div class="col-lg-3">
          <%= text_field_tag 'zipcode', @result[:zipcode], class: 'form-control', required: true %>
        </div>
        <%= label_tag 'city', "Stadt", class: 'col-lg-2 control-label' %>
        <div class="col-lg-4">
          <%= text_field_tag 'city', @result[:city], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'vehicle_number', "FIN", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= text_field_tag 'vehicle_number', @result[:vehicle_number], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'evb', "eVB", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= text_field_tag 'evb', @result[:evb], class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag 'attachments', "Anhänge", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9 vcenter" style="padding-top: 25px;">
          <ol>
            <li>
              Personalausweis
              <%= file_field_tag 'identity_card', required: true, accept: 'application/pdf' %>
            </li>
            <li>
              Übereinstimmungsbescheinigung
              <%= file_field_tag 'coc', required: true, accept: 'application/pdf' %>
            </li>
            <li>
              Fahrzeugschein/Zulassungsbescheinigung Teil I
              <%= file_field_tag 'certificate_registration', required: true, accept: 'application/pdf' %>
            </li>
            <li>
              Fahrzeugbrief/Zulassungsbescheinigung Teil II
              <%= file_field_tag 'certificate_title', required: true, accept: 'application/pdf' %>
            </li>
            <li>
              HU-Bericht
              <%= file_field_tag 'hu', required: true, accept: 'application/pdf' %>
            </li>
          </ol>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-1 col-lg-3">
          <%= link_to "Abbrechen", car_registration_path, class: 'btn btn-danger btn-block' %>
        </div>
        <div class="col-lg-7">
          <button type="submit" class="btn btn-primary btn-block">Ummelden</button>
        </div>
      </div>
    </fieldset>
  <% end %>
  </div>
</div>
