<div class="col-md-12 well">
  <div class="col-md-6">
    <h2>
      Manage user #<%= @user.id %> roles:
    </h2>
    <div class="col-md-6">
      <p>
        E-Mail: <%= @user.email %>
      </p>
      <p>
        Firstname: <%= @user.firstname %>
      </p>
      <p>
        Lastname: <%= @user.lastname %>
      </p>
    </div>
    <h4>
      User roles:
    </h4>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Role</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @user.roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td>
            <%= link_to "X", users_roles_destroy_path(@user, role), class: "btn btn-sm btn-danger", method: :delete, data:{comfirm: 'Are you sure?'} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
