<div class="well">
  <h2 class="col-lg-offset-3">
    Status der Registrierung
  </h2>

  <% if @result.empty? %>
    <h4 class="col-lg-offset-3">Zu diesem Kennzeichen liegt keine Registrierung vor.</h4>
  <% else %>
    <div class="row pagination-centered">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-<%= @result[:status][:class] %>">
          <div class="panel-heading">
            <h3 class="panel-title">Halterdaten zu <%= @result[:license_tag] %></h3>
          </div>
          <div class="panel-body text-center">
            <span class="row">
              <%= image_tag ("002-boss.png"), size: 64 %>
            </span>
            <span class="row">Vorname: <%= @result[:owner_firstname] %></span>
            <span class="row">Nachname: <%= @result[:owner_lastname] %></span>
            <span class="row">Geboren: <%= @result[:birthdate] %></span>
            <span class="row text-center"><%= @result[:street] %></span>
            <span class="row text-center"><%= @result[:city] %></span>
            <span class="row text-center">KFZ Status: <%= @result[:status][:text] %></span>
            <span class="row text-center">seit: <%= @result[:updated] %></span>
            <span class="row text-center">Fahrgestellnummer: <%= @result[:vehicle_number] %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    &nbsp;
  </div>
  <div>
    <h4 class="col-lg-offset-3">Weitere Anfrage:</h4>
  <%= form_tag car_police_search_for_owner_path, method: :get, class: "form-horizontal" do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag 'license_tag', "Kennzeichen", class: 'col-lg-3 control-label' %>
        <div class="col-lg-5">
          <%= text_field_tag 'license_tag', nil, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-5">
          <button type="submit" class="btn btn-primary btn-block">Suchen</button>
        </div>
      </div>
    </fieldset>
  <% end %>
  </div>

</div>
