<div class="well">
  <h2>
    Status der Registrierung
  </h2>

  <% if @result.empty? %>
    <p>Zu dieser eVB-Nummer liegt keine Registrierung vor.</p>
  <% else %>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Halter</th>
      <th>Kennzeichen</th>
      <th>Status</th>
      <th>Datum</th>
    </tr>
    </thead>
    <tbody>
    <tr class="<%= @result[:status][:class] %>">
      <td><%= @result[:owner] %></td>
      <td><%= @result[:license_tag] %></td>
      <td><%= @result[:status][:text] %></td>
      <td><%= @result[:updated] %></td>
    </tr>
    </tbody>
  </table>
  <% end %>

</div>
