<div class="well">
  <h2 class="col-lg-offset-4">
    <%= _('Status of the registration') %>
  </h2>

  <% if @result.empty? %>
    <h4 class="col-lg-offset-4">Zu dieser eVB-Nummer liegt keine Registrierung vor.</h4>
  <% else %>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th><%= _('Owner') %> Halter</th>
      <th><%= _('License') %>Kennzeichen</th>
      <th><%= _('Status') %>Status</th>
      <th><%= _('Date') %>Datum</th>
    </tr>
    </thead>
    <tbody>
    <tr class="<%= @result[:status][:class] %>">
      <td><%= @result[:owner] %></td>
      <td><%= @result[:license_tag] %></td>
      <td><%= @result[:status][:text] %></td>
      <td><%= @result[:updated] %></td>
    </tr>
    </tbody>
  </table>
  <% end %>
  <div class="control-group">
    &nbsp;
  </div>
  <div>
    <h4 class="col-lg-offset-4"><%= _('Other query') %>:</h4>
  <%= form_tag car_insurance_search_for_registration_path, method: :get, class: "form-horizontal" do %>
    <fieldset>
      <div class="form-group">
        <%= label_tag 'evb_number', _('evB Number'), class: 'col-lg-4 control-label' %>
        <div class="col-lg-4">
          <%= text_field_tag 'evb_number', nil, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-4">
          <button type="submit" class="btn btn-primary btn-block"><%= _('Search') %></button>
        </div>
      </div>
    </fieldset>
  <% end %>
  </div>

</div>
