<div class="well">
  <h2>
    Details zur Registrierung <%= @result[:ref] %>
  </h2>
  <div class="row pagination-centered">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Halterdaten</h3>
        </div>
        <div class="panel-body text-center">
          <span class="row">
            <%= image_tag ("002-boss.png"), size: 64 %>
          </span>
          <span class="row">Vorname: <%= @result[:owner_firstname] %></span>
          <span class="row">Nachname: <%= @result[:owner_lastname] %></span>
          <span class="row">Geboren: <%= @result[:birthdate] %></span>
          <span class="row text-center"><%= @result[:street] %></span>
          <span class="row text-center"><%= @result[:city] %></span>

        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Fahrzeugdaten</h3>
        </div>
        <div class="panel-body text-center">
          <span class="row">
            <%= image_tag ("009-car.png"), size: 64 %>
          </span>
          <span class="row text-center <%= @result[:status][:class] %>">KFZ Status: <%= @result[:status][:text] %></span>
          <span class="row text-center">seit: <%= @result[:updated] %></span>
          <span class="row text-center">Fahrgestellnummer: <%= @result[:vehicle_number] %></span>
          <span class="row text-center">evB: <%= @result[:evb] %></span>
          <span class="row text-center">Kennzeichen: <%= @result[:license_tag] %></span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Dokumente</h3>
        </div>
        <div class="panel-body text-center">
          <span class="row">
            <%= image_tag ("006-pdf.png"), size: 64 %>
          </span>
          <span class="row">Personalausweis: <%= @result[:identity_card] %></span>
          <span class="row">COC: <%= @result[:identity_card] %></span>
          <span class="row">Fahrzeugschein: <%= @result[:cert_reg] %></span>
          <span class="row">Fahrzeugbrief: <%= @result[:cert_title] %></span>
          <span class="row">HU: <%= @result[:hu] %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pagination-centered">
    <% if @result[:status_id] == 0 || @result[:status_id] == 1 %>
      <div class="col-lg-4">
        <div class="panel panel-success">
          <div class="panel-body text-center">
            <%= form_tag car_accept_registration_path(@result[:id]), class: "form-horizontal" do %>
              <fieldset>
                <div class="form-group">
                  <%= label_tag 'license_tag', "Kennzeichen", class: 'control-label' %>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-1">
                    <%= text_field_tag 'license_tag', nil, class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-8 col-lg-offset-2">
                    <button type="submit" class="btn btn-success btn-block">Annehmen</button>
                  </div>
                </div>
              </fieldset>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="container">
          <% if @result[:status_id] == 0 %>
            <%= form_tag car_incomplete_registration_path(@result[:id]), class: "form-horizontal" do %>
              <div class="form-group">
                <button type="submit" data-confirm="Are you sure?" class="btn btn-warning">Unvollständig</button>
              </div>
            <% end %>
          <% end %>
          <%= form_tag car_decline_registration_path(@result[:id]), class: "form-horizontal" do %>
            <div class="form-group">
              <button type="submit" data-confirm="Are you sure?" class="btn btn-danger">Ablehnen</button>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
