<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Carchain</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <% if can? :manage, Car::Registration %>
        <ul class="nav navbar-nav">
          <li <%= "class=active" if current_page?(car_registration_path) %>>
            <%= link_to _("Car overview"), car_registration_path %>
          </li>
          <li <%= "class=active" if current_page?(car_registration_register_path) %>>
            <%= link_to _("Register car"), car_registration_register_path %>
          </li>
          <li <%= "class=active" if current_page?(car_registration_end_registration_path) %>>
            <%= link_to _("Unregister car"), car_registration_end_registration_path %>
          </li>
          <li <%= "class=active" if current_page?(car_registration_change_registration_path) %>>
            <%= link_to _("Change car registration"), car_registration_change_registration_path %>
          </li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if can? :manage, Users %>
        <li <%= "class=active" if current_page?(users_roles_path) %>>
          <%= link_to _("Manage roles"), users_roles_path %>
        </li>
        <% end %>
        <% if user_signed_in? %>
            <li <%= "class=active" if current_page?(edit_user_registration_path) %>>
              <%= link_to current_user.email, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to _("Log out"), destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <li <%= "class=active" if current_page?(new_user_session_path) %>>
              <%= link_to _("Log in"), new_user_session_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
