<div class="well col-md-12">
  <div class="col-md-6">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.email_field :email, autofocus: true, class: "form-control", value: @user.email %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>


      <div class="form-group">
        <%= f.label :firstname, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.text_field :firstname, class: "form-control", value: @user.firstname %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :lastname, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= f.text_field :lastname, class: "form-control", value: @user.lastname %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <p>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          <p/>
          <p class="help-block">(leave blank if you don't want to change it)</p>
          <% if @minimum_password_length %>
            <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <p>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm password" %>
          </p>
          <p class="help-block">(leave blank if you don't want to change it)</p>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :current_password, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <p>
            <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
          </p>
            <p class="help-block">(we need your current password to confirm your changes)</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-sm btn-danger" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
